body{
	margin: 0;
	text-align: center;
	font-size: 100px;
	background-color:black;
}
.margin{
	margin: 0 auto;
	background-color:#ffffff;
	width: 70rem;
	height: 70rem;
}
header{
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: groove;
}
header ul{
	font-size: 0;
}
header ul li{
	font-size: 1rem;
	list-style: none;
	display: inline-block;
	margin: 0 3rem;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

header ul .selected{
	border:thin;
	border-radius: 0.2rem;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0.2rem;
}

.tabPage{
	
}

.tabPage .header{
	font-size: 1.5rem;
	text-align: left;
	margin-top: 0.2rem;
	padding:0.2rem 2.5rem;
	background-color:#999;	
}

canvas{
	width: 80rem;
}
